body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  font-family: 	'Segoe UI Web Regular', 'Segoe UI', 'Segoe WP', Tahoma, Arial, sans-serif !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace !important;
}

article > div {
  /* box-shadow: none !important; */
  border-radius: 0% !important;
}

body, html{
  max-width: 100vw !important;
  overflow: hidden !important;
}

button.MuiSpeedDial-fab , .MuiAlert-filledInfo {
  background-color:#1fb2cc !important;
}
@media only screen and (max-width: 600px) {
  .scroll-area {
    top: 120px !important;
  }
}

