@font-face {
        font-family: "roboto-regular";
        src: url("./assets/fonts/roboto-regular.ttf") format("truetype");
      }
@font-face {
        font-family: "IBM Plex Sans";
        src: url("./assets/fonts/ibm-plex-sans-regular.ttf") format("truetype");
      }

      ::placeholder {
        color: rgb(197, 197, 197) !important;
        font-style: italic !important;

      }

   